.navbarMenu {
  width: 100%;
  height: 60px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  border-bottom: 2px solid #e5e9f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transition: all 0.2s;
}

/* Switch Dark Mode */

.toggle {
  background-color: #fff;
  position: relative;
  border: 2px solid #00151f;
  width: 60px;
  height: 30px;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.3s;
  margin: 8px 0 8px 20px;
}

.toggle.active {
  background-color: #303030;
  border: 2px solid white;
}

.toggle::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 22px;
  height: 22px;
  background-color: #00151f;
  border-radius: 50%;
  transition: 0.3s;
}

.toggle.active::before {
  left: 32px;
  background-color: white;
}

/**/

.navbar-container {
  width: 100%;
  height: 60px;
  position: relative;
  background-color: transparent;
  margin-left: 70px;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: space-between;
}

.navbar-container.active {
  margin-left: 250px;
}

.navbar-left {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-right: .8px solid #e5e9f2; */
}

.navbar-menu-icon {
  background-color: transparent;
  width: max-content;
  height: 60px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #e5e9f2;
  cursor: pointer;
}

.menu-icon {
  color: #8a909d;
  font-size: 2rem;
}

.navbar-search {
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0 20px;
  align-items: center;
}

.box-search {
  height: 40px;
  width: 100%;
}

/* navbar user info */

.navbar-right {
  margin-right: 20px;
  width: auto;
  height: 60px;
  position: relative;
  display: flex;
}

.navbar-right-setting {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
}

.setting-icon-s {
  font-size: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
}

.setting-icon-s:hover {
  background-color: rgba(236, 237, 240, 0.7);
}

.navbar-notifikasi {
  width: 65px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-left: 2px solid #e5e9f2;
  border-right: 2px solid #e5e9f2;
}

.box-notifikasi-icon {
  position: relative;
  border-radius: 50%;
  padding: 4px;
  transition: all 0.2s !important;
}

.box-notifikasi-icon:hover {
  background-color: rgba(236, 237, 240, 0.7);
}

.is-notifikasi-icon {
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  right: 18%;
}

.notifikasi-icon {
  font-size: 30px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.navbar-user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  padding: 0 10px;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info.active .user-name p {
  color: rgba(138, 144, 157, 0.7);
}

.user-info.active .user-icon {
  color: #333;
}

.user-image {
  width: 45px;
  height: 45px;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}

.user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 7px 0 10px;
}

.user-name p {
  font-size: 15px;
  text-align: center;
  line-height: 60px;
  margin: 0;
  font-weight: 600;
  cursor: pointer;
  font-family: sans-serif;
  transition: all 0.1s ease-in-out;
}

.user-icon {
  font-size: 1.5rem;
  color: rgba(138, 144, 157, 0.7);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.user-dropdown {
  position: fixed;
  background-color: white !important;
  top: 60px;
  height: max-content;
  width: max-content;
  border: 1px solid #e5e9f2;
  right: 1%;
  display: none;
  border-radius: 5px;
}

.user-dropdown.active {
  display: block;
}

.user-dropdown-info {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-dropdown-info img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}

.box-user-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 10px;
}

.box-user-info h5 {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  transition: 0.2s;
}

.user-dropdown-menu {
  padding: 10px 0;
  border-top: 1px solid #e5e9f2;
  border-bottom: 1px solid #e5e9f2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.user-logout button,
.user-dropdown-menu a {
  width: 100%;
  padding: 10px 10px;
  text-align: start;
  background-color: transparent;
  border: none;
  outline: none !important;
  color: #8a909d;
  font-size: 0.9rem;
  font-family: sans-serif;
  font-weight: 400;
  padding-left: 20px;
}

.icon-dropdown {
  margin-right: 15px;
  font-size: 15px;
}

.user-logout button:hover,
.user-dropdown-menu a:hover {
  background-color: rgba(236, 237, 240, 0.7);
  text-decoration: none;
  color: #8a909d;
}

.user-logout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 13px 0;
}

.user-logout button {
  padding: 10px 20px;
}

.dropdown-close {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  display: none;
}

.dropdown-close.active {
  display: block;
}

.s-setting {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  max-width: 270px;
  right: -100%;
  width: 80%;
  z-index: 999;
  background-color: white;
  box-shadow: 0 0 28px rgba(0, 0, 0, 0.08);
  transition: all 0.05s ease;
  overflow-y: scroll;
}

.s-setting.active {
  right: 0;
}

.blank-s-setting {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.s-setting-header {
  width: 100%;
  height: 60px;
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}

.s-setting-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-setting-title p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
}

.s-setting-icon {
  font-size: 25px;
  margin-right: 8px;
  margin-left: 15px;
}

.s-setting-close-icon {
  font-size: 25px;
  cursor: pointer;
}

.s-setting-main-menu {
  width: 100%;
  height: auto;
  position: relative;
  padding: 10px 15px;
}

.s-setting-main-menu > ul > li:nth-child(1) {
  margin-top: 0;
}

.s-setting-main-menu > ul > li {
  list-style: none;
  width: 100%;
  height: auto;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  border-bottom: 1px solid #e5e9f2;
  margin-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.s-main-menu-icon-dowm {
  position: absolute;
  right: -3px;
  top: 0;
  font-size: 22px;
}

.s-setting-main-menu > ul > li > p:hover,
.s-setting-main-menu > ul > li > a:hover {
  text-decoration: none;
  color: #0465cc;
}
.s-setting-main-menu > ul > li > p {
  text-decoration: none;
  color: #007bff;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 90%;
}

.s-setting-main-menu > ul > li > ul {
  background-color: transparent;
  position: relative;
  padding-left: 25px;
  display: none;
}

.s-setting-main-menu > ul > li > ul.active {
  display: block;
}

.s-setting-main-menu > ul > li > ul > li {
  padding: 5px 0;
  position: relative;
  width: 100%;
  list-style: inherit;
}

.s-button-h {
  background-color: #dc3545;
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  font-size: 14px;
  color: white;
}

.s-main-menu-icon {
  margin-right: 5px;
}

/* akhir navbar user info */

@media (max-width: 577px) {
  .navbarMenu {
    left: 0;
  }
  .navbar-container {
    margin-left: 0px !important;
  }
  .navbar-container.active {
    margin-left: 0;
  }
  .navbar-search {
    display: none;
  }
  .user-name {
    display: none;
  }
  .navbar-notifikasi {
    width: 50px;
    border-left: none;
    border-right: none;
    margin-right: -5px;
  }

  .navbar-right {
    margin-right: 0;
  }

  .navbar-right-setting {
    padding: 0;
    width: 40px;
  }

  .notifikasi-icon {
    font-size: 30px;
  }
}

@media (min-width: 577px) {
  .navbarMenu {
    left: 10px;
  }
  .navbar-container {
    margin-left: 70px !important;
  }
  .navbar-container.active {
    margin-left: 0;
  }
  .navbar-search {
    display: none;
  }
  .notifikasi-icon {
    font-size: 32px;
  }
  .navbar-notifikasi {
    border-left: 2px solid #e5e9f2;
    border-right: 2px solid #e5e9f2;
  }
  .user-name {
    display: block;
  }
}

@media (min-width: 992px) {
  .navbarMenu {
    left: 10px;
  }
  .navbar-container.active {
    margin-left: 250px !important;
  }
  .navbar-search {
    width: 280px;
    display: flex;
  }
  .navbar-notifikasi {
    border-left: 2px solid #e5e9f2;
    border-right: 2px solid #e5e9f2;
  }

  .user-name {
    display: block;
  }
}

@media (min-width: 1202px) {
  .navbar-search {
    width: 400px;
    display: flex;
  }
}
